.LoginFormCont * {
  font-size: 18px;
}

.loginFormCont {
  display: grid;
  grid-template-rows: 1fr;
  width: 25%;
  gap: 10px;
  justify-content: center;
  margin: 100px auto 0 auto;
}

.loginFormCont h2 {
  color: var(--primary-text-color);
}

.inputFieldsCont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  justify-content: center;
  gap: 4px;
}

.buttonsCont {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

