.input1 {
  background-color: var(--input1-bg-color);
  width: 100%;
  padding: 4px 8px;
  border-radius: 0;
  border: none;
  color: var(--input1-color);
}

.input1:focus {
  border: none;
  outline: none;
  background-color: var(--input1-hover-bg-color);
}

.input1:hover {
  background-color: var(--input1-hover-bg-color);
}
