@import '../../colors.scss';

.LoginFormCont * {
  font-size: 18px;
}

$bd-rad: 0px;

.LoginFormCont {
  display: grid;
  grid-template-rows: 1fr;
  width: 25%;
  gap: 10px;
  justify-content: center;
  margin: 10px 10px;

  .InputFieldsCont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    justify-content: center;
    gap: 10px;

    .InputField {
      background-color: $input-bg1;
      width: 100%;
      padding: 4px 8px;
      border-radius: $bd-rad;
      border: none;
      color: $input-font-color1;
    }
    .InputField:focus {
      border: none;
      outline: none;
      background-color: $input-bg2;
    }
    .InputField:hover {
      background-color: $input-bg2;
    }
  }

  .ButtonsCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .Btn {
      font-size: 17px;
      border: 0;
      border-radius: $bd-rad;
      padding: 4px 8px;
      min-width: 45%;
      background: none;
      border: solid 1px;
      border-color: $btn-border-color1;
      color: $btn-font-color1;
    }
    .Btn:hover {
      color: $btn-hover-font-color1;
      border-color: $btn-font-color1;
    }
  }
}
