.accountsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: calc(100vh - 40px);
  padding: 40px 0;
  margin: 10px;
}

.accountPageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btnsCont {
  display: flex;
  justify-content: center;
  width: 100%;
}

.createAccountMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 250px;
  max-width: 250px;
}

.createAccountMenu h3 {
  color: var(--primary-text-color);
}

.createAccountMenu label {
  color: var(--primary-text-color);
}
