.accountsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: calc(100vh - 60px);
  padding: 10px;
  padding-top: 80px;

  h3 {
    color: var(--primary-text-color);
  }
}

.accountPageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.accountList {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.createAccountMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 250px;
}

.createAccountInfoWindow {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  gap: 10px;
  justify-content: center;
}

.createAccountInfoWindow * {
  color: var(--primary-text-color);
}

.createAccountMenu h3,
label {
  color: var(--primary-text-color);
}
