.transactionsHistoryPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  min-height: calc(100vh - 60px);
  padding: 10px;
  padding-top: 80px;

  h2 {
    color: var(--primary-text-color);
  }
}

.historyCont {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 146px);
  overflow-y: auto;
  max-width: 700px;
}
