@import '../../utils/colors.scss';

header {
  background-color: $header-color;
  width: 100%;
  position: fixed;
  height: 40px;
  align-items: center;
}

.HeaderCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;

  .NavMenuCont {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .NavBtn {
      background: none;
      border: none;
      text-align: center;
      color: $btn-font-color1;
      padding: 3px 7px;
      margin: 0px 7px;


      float: left;
      display: block;
      position: relative;
    }

    .NavBtn::after {
      content: '';
      position: absolute;
      width: 0px;
      height: 2px;
      left: 50%;
      bottom: 0;
      background-color: $btn-border-color1;
      transition: all ease-in-out .2s;
    }

    .NavBtn:hover {
      border: none;
      color: $btn-hover-font-color1;
    }

    .NavBtn:hover::after {
      width: 100%;
      left: 0;
    }
  }

  .Logo {
    a {
      color: $btn-font-color1;
      padding: 0 5px;
      margin: 0 5px;
    }
  }

  .LogOutBtn {
    a {
      color: $btn-font-color1;
      padding: 0 5px;
      margin: 0 5px;
    }
  }
}

header * {
  font-size: 18px;
  text-decoration: none;
}
