.accountList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accountList * {
  color: var(--primary-text-color);
}

.accountCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px 20px;
  border-radius: 5px;
  color: var(--primary-text-color);
  background-color: var(--primary-card-bg-color);
  border: solid 1px #303030;
}

.numberCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.copyText {
  text-decoration: none;
  padding: 5px 3px;
}

.copyText:hover {
  color: white;
}

.accountCardButtonsCont {
  display: flex;
  gap: 30px;
}

.closeAccountWindow {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.errInfo {
  color: #B73D3D
}

.transferWindow {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    max-width: 300px;
  }
}

.transferDestAccInputCont {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
