.navBar {
  background-color: var(--header-bg-color);
  text-align: center;

  * {
    color: var(--header-button-color);
    font-size: 18px;
    text-decoration: none;
  }

  :global(.nav-link) {
    --bs-nav-link-hover-color: none;
  }
}

.navBar .navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.navBtn {
  background: none;
  border: none;
  text-align: center;
  padding: 3px 7px;
  margin: 0px 7px;
  max-width: 200px;

  float: left;
  display: block;
  position: relative;
}

.navBtn::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: 50%;
  bottom: 0;
  background-color: var(--header-button-color);
  transition: all ease-in-out 0.2s;
}

.navBtn:hover {
  border: none;
  color: var(--header-button-hover-color);
}

.navBtn:hover::after {
  width: 100%;
  left: 0;
}

.activeBtn::after {
  width: 100%;
  left: 0;
}

.logo {
  a {
    padding: 0 5px;
    margin: 0 5px;
  }
}

.logBtn {
  background: none;
  border: none;
  padding: 0 5px;
  margin: 5 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .logBtn {
    margin-left: 20px;
  }
}
