$bg-color1: #181818;
$item-color1: #DADADA;
$item-color2: #B7B7B7;
$header-color: #2B2A2A;

$input-bg1: #505050;
$input-bg2: #5B5B5B;
$input-font-color1: #BFBFBF;

$btn-border-color1: #5B5B5B;
$btn-font-color1: #B7B7B7;
$btn-hover-font-color1: #DADADA;
