.button1 {
  font-size: 17px;
  border: 0;
  border-radius: 0;
  padding: 4px 8px;
  min-width: 45%;
  background: none;
  border: solid 1px;
  border-color: var(--button1-border-color);
  color: var(--button1-color);
}

.button1:hover {
  color: var(--button1-hover-color);
  border-color: var(--button1-border-hover-color);
}
