@import './utils/colors.scss';

.Container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.App {
  height: 100vh;
  width: 100%;
}

.MainGrid {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
