.modalHeader {
  border-color: var(--primary-text-color);
}

.modalFooter {
  border-color: var(--primary-text-color);
}

.modalContent {
  background-color: var(--primary-card-bg-color);
  color: var(--primary-text-color);
}

